{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}Backend &middot; Update Tag{% endblock %}

{% block currentPage %}tags{% endblock %}

{% block content %}

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Update Tag '{{ tag.title }}'</h3>
        </div>
        <div class="panel-body">

            <form method="post">
                <div class="form-group">
                    <label for="input-title">Title</label>
                    <input type="text"
                        class="form-control"
                        id="input-title"
                        placeholder="Title"
                        name="title"
                        value="{{ tag.title }}">
                </div>

                <input type="hidden" value="1" name="sent">

                <button type="submit" class="btn btn-warning">Save</button>
            </form>

        </div>
    </div>

{% endblock %}
