{% extends 'layout.html.twig' %}

{% block content %}

    <div class="text-center" style="padding-top: 70px; padding-bottom: 70px;">

        <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>

        <h1>Ooops, an error happened...</h1>
        <h2>Please try again!</h2>

    </div>

{% endblock %}
