{% extends "BackendBundle::ub_layout.html.twig" %}

{% block content %}

    <div class="text-center">
        <h1>
            <i class="fa fa-meh-o"></i>
            Sorry, no pages are defined yet!
        </h1>

        <a href="{{ path('backend_dash') }}">Backend</a>
    </div>

{% endblock %}
