{% extends 'BackendBundle::layout.html.twig' %}

{% block title %}Backend &middot; Create Setting{% endblock %}

{% block currentPage %}settings{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('assets/js/settings.js') }}"></script>
{% endblock %}

{% block content %}

    <span class="hidden" id="current-mode">create</span>
    <span class="hidden" id="current-id"></span>

    <style type="text/css" media="screen">
        #c-value-editor {
            height: 200px;
        }
    </style>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Create Setting</h3>
        </div>
        <div class="panel-body">

            <form method="post" id="form-setting">
                <div class="form-group">
                    <label for="input-key">Key</label>
                    <input type="text"
                        class="form-control"
                        id="input-key"
                        placeholder="Key"
                        name="key">
                </div>

                <div class="form-group" id="fg-nodeep">
                    <label for="input-value">Value</label>
                    <input type="text"
                        class="form-control"
                        id="input-value"
                        placeholder="Value"
                        name="value">
                </div>

                <div class="form-group" id="fg-deep">
                    <label for="input-value">Complex Value</label>
                    <div id="c-value-editor"></div>
                </div>

                <div class="form-group">
                    <label>Options</label>
                    <div class="checkbox">
                        <label>
                            <input id="cb-deep" type="checkbox" data-toggle="toggle"> Complex Value?
                        </label>
                    </div>
                </div>

                <input type="hidden" name="deep">
                <input type="hidden" value="1" name="sent">

                <button type="submit" class="btn btn-success">Save</button>
            </form>

        </div>
    </div>

{% endblock %}
